// Vars

// Fonts
$toggle-title-size: 16px;
$toggle-content-font-size: 16px;

// Palette
$toggle-title-bg: #fff;
$toggle-title-caret: #ED3E44;
$toggle-content-color: #B0B3C2;

// Size
$toggle-title-padding: 1em;
$toggle-title-margin: 1em;
$toggle-content-margin: 1.5em;
$toggle-content-padding: 1em;


/* Toggle */
.toggle {
    &__label {
        font-size: $toggle-title-size;
        background: $toggle-title-bg;
        padding: $toggle-title-padding;
        cursor: pointer;
        display: block;
        margin: 0 auto $toggle-title-margin;

        &:after {
            content: "+";
            color: $toggle-title-caret;
            float: right;
        }
    }

    &__content {
        color: $toggle-content-color;
        font-size: $toggle-content-font-size;
        margin-bottom: $toggle-content-margin;
        padding: $toggle-content-padding;
    }

    &__hidden-field {
        display: none; //Hide input element

        &:not(checked) ~ .toggle__content {
            display: none; //Hide content
        }

        &:checked {
            & ~ .toggle__content {
                display: block;
            }
          
            & ~ .toggle__label {
                &:after {
                    content: "-"; //Change label's '+' to '-' when checked
                }
            }
        }
    }
}
/* end Toggle */