<!--Toggle-->
.toggle
	.toggle__item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-1.toggle__hidden-field
		label(for="toggle-1").toggle__label What was Beethoven's favorite fruit?
		//- Content to toggle
		.toggle__content(role="toggle") BA-NA-NA-NA!

	.toggle__item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-2.toggle__hidden-field
		label(for="toggle-2").toggle__label Where did the general put his armies?
		//- Content to toggle
		.toggle__content(role="toggle") Up his sleevies!

	.toggle__item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-3.toggle__hidden-field
		label(for="toggle-3").toggle__label What do you call a nosy pepper?
		//- Content to toggle
		.toggle__content(role="toggle") Jalapeño business!
<!--/end Toggle-->