<!--Toggle-->
.toggle
	.toggle-item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-1.toggle-input
		label(for="toggle-1").toggle-label What was Beethoven's favorite fruit?
		//- Content to toggle
		.toggle-content(role="toggle") BA-NA-NA-NA!

	.toggle-item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-2.toggle-input
		label(for="toggle-2").toggle-label Where did the general put his armies?
		//- Content to toggle
		.toggle-content(role="toggle") Up his sleevies!

	.toggle-item
		//- Checkbox toggle
		input(type="checkbox" value="selected")#toggle-3.toggle-input
		label(for="toggle-3").toggle-label What do you call a nosy pepper?
		//- Content to toggle
		.toggle-content(role="toggle") Jalapeño business!
<!--/end Toggle-->